/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: 0 auto;
}

.smallTxt{
    font-size: 0.9rem;
}

.white-txt{
    color: white;
}

.red-txt{
    color: red;
}

/* TOP NAV */

nav.top-nav{
    justify-content: flex-end;
    color: white;
}

nav.top-nav div{
    background-color: #4a4a4a;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem 0.3rem;
}

/* MAIN */

main{
    height: 90vh;
    background-color: black;
}

section.call{
    width: 90vw;
    height: 85vh;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

section.call div.cam{
    width: 250px;
    height: 140px;
    background-color: magenta;
    margin: 0.5rem 0.3rem;
}

/* HEADER */

header{
    height: 10vh;
    background-color: #222222;
}