/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: 0 auto;
}

.white-txt{
    color: white;
}

.red-txt{
    color: red;
}

body{
    background-color: #000000;
}

nav.top-nav{
    justify-content: flex-end;
    color: white;
}